{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="POST">
        <div>
            <label>Email</label>
            <input type="text" id="username" name="_username" value="{{ lastUsername }}" />
        </div>

        <div>
            <label>Password</label>
            <input type="password" id="password" name="_password"/>
        </div>

        <input type="hidden" name="_target_path" value="/micro-post"/>

        <button type="submit">Login</button>

    </form>
{% endblock %}
